
/*Importing Personal Fonts*/
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
     url('./fonts/MontserratAlternates-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'Montserrat Light';
  src: local('Montserrat Light'),
     url('./fonts/MontserratAlternates-Light.ttf') format("truetype");
}
@font-face {
  font-family: 'Montserrat Bold';
  src: local('Montserrat Bold'),
     url('./fonts/MontserratAlternates-SemiBold.ttf') format("truetype");
}
@font-face {
  font-family: 'Manifold';
  src: local('Manifold'),
     url('./fonts/Manifold-Extended-CF/Demo_Fonts/Fontspring-DEMO-manifoldextendedcf-regular.otf') format("truetype");
}
@font-face {
  font-family: 'Manifold Bold';
  src: local('Manifold Bold'),
     url('./fonts/Manifold-Extended-CF/Demo_Fonts/Fontspring-DEMO-manifoldextendedcf-bold.otf') format("truetype");
}
@font-face {
  font-family: 'Manifold Light';
  src: local('Manifold Light'),
     url('./fonts/Manifold-Extended-CF/Demo_Fonts/Fontspring-DEMO-manifoldextendedcf-light.otf') format("truetype");
}
@font-face {
  font-family: 'Manifold Light Italicized';
  src: local('Manifold Light Italicized'),
     url('./fonts/Manifold-Extended-CF/Demo_Fonts/Fontspring-DEMO-manifoldextendedcf-lightoblique.otf') format("truetype");
}
@font-face {
  font-family: 'Manifold Italicized';
  src: local('Manifold Italicized'),
     url('./fonts/Manifold-Extended-CF/Demo_Fonts/Fontspring-DEMO-manifoldextendedcf-regularoblique.otf') format("truetype");
}

:root {
  /*Colors :D*/
  --manly-pink: #f9e0e0;
  --sidewalk: rgb(164, 156, 156);
  --turf: #363433;
  --gravel: #252423;


  font-family: 'Montserrat', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--manly-pink);
  background-color: var(--gravel);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Building Animations */
@keyframes movedown {
  0%   {margin-top: -1080px;}
  100% {margin-top: 0px;}
}

@keyframes moveright {
  0%   {margin-left: -2080px;}
  100% {margin-left: -280px;}
}

body{
  overflow: hidden;
}

/* Style the navigation */
.navbar {
  padding: 10px;
  
  margin-top: 20px;
  margin-left: 22px;
  margin-right: 25px;
  max-width: 100vw;
  border-bottom: solid var(--manly-pink) 1px;
  
  box-shadow: 0 8px 4px -4px #4b4444;
}

/* Style the list */
.navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-around; /* Evenly space out links */
  padding: 0;
  margin: 0;
}

/* Style the individual links */
.cute-nav-link {
  text-decoration: none;
  font-size: 16px;
  color: var(--manly-pink); /* Neutral text color */

}

/* Add a hover effect */
.cute-nav-link:hover {
  color: var(--sidewalk);
  transform: translateY(-2px); /* Slight lift effect */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Stronger shadow on hover */
}

/* Make links more interactive on active/focus */
.cute-nav-link:active {
  transform: translateY(0); /* Push back down when clicked */
}

/* Style for active links */
.cute-nav-link.active {
  background-color: #ad5e10; /* Highlight the active page */
  color: var(--sidewalk);
  font-weight: bold;
}

#home-icon{
  height:20px;
  width:auto;
}


/* ----------- HOME PAGE STYLING ------------*/
#home-page{
  display: flex;
  justify-content: space-between;
  overflow-y: hidden;
}
#home-bio{
  width:60vw;
  padding-top:5vh;
  padding-left:5vw;
  padding-right:5vw;
}

#home-name{
  margin: 0;
}

#titles{
  list-style: none;
  display: flex;
  justify-content: space-between; /* Evenly space out links */
  width: 300px;
  padding: 0;
  margin: 0;
}

#home-bio > p{
  width: 55vw;
}
#preferences{
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 55vw;
  padding: 0;
  margin-top: 50px;
}
.preference:hover{
  font-size: large;
  margin-top: -5px;
}

.photo{
  height:150px;
  width: 85px;
  margin-bottom: 30px;
  background-color: var(--sidewalk);
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 15px 5px;
}

.photo:hover{
  height:160px;
  width: 95px;
  margin-bottom: 20px;
}

.carousel{
  margin-top: -20px;
  width: 100px;
  overflow-x: hidden;
}


#pic-carousel{
  width: 25vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 6vw;

  animation-name: movedown;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#mid-car{
  margin-top: -160px;
}

/* ----------- EXPERIENCE PAGE STYLING ------------*/
#exp-page{
  height: 80vh;
  width: 90vw;

  margin-top: 25px;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  background-color: var(--turf);
  border-radius: 20px;

  overflow-y: scroll;
}

.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* ----------- CONTACT PAGE STYLING ------------*/

#contact-page{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20vw;
  margin-top: 30px;
}

#contact-form{
  display: flex;
  flex-direction: column;

  height: 40vh;
  width:50vw;
  background-color: blanchedalmond;

  border-radius: 20px;
  padding: 20px;
}

.horizontal img{
  height: auto;
  width:150px;
}

.horizontal{
  height:65px;
  width: 100px;
  margin-right: 20px;
  margin-top: 10px;

  background-color: var(--sidewalk);
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 15px 5px;
}

.horizontal:hover{
  height:75px;
  width: 110px;
  margin-right: 10px;
  margin-top: 0px;
}
#car-hor{
  height: 100px;
  width: 10000px;
  display: flex;
  flex-direction: row;
}


#pic-car-hor{
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;

  animation-name: moveright;
  animation-duration: 45s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}




